/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
/*Variables*/
:root {
  --main-color: #bc9667;
  --second-color: #edeae3;
  --text-color: #1b1b1b;
  --bg-color: #fff;
  --bigbrew-color: #b86a19;

  /* Box Shadow */
  --box-shadow: 2px 2px 10px 4px rgb(14 55 54/ 15%);
}
section {
  padding: 50px 100px;
}
img {
  width: 100%;
}
body {
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 100px;
  transition: 0.5s linear;
  background: var(--text-color);
}
.btn-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-field button {
  flex-basis: 45%;
  background: var(--main-color);
  color: var(--bg-color);
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}
.input-group {
  height: 280px;
}
.btn-field button.disable {
  background: #eaeaea;
  color: #555;
}

/* Nav Bar */
.logo img {
  width: 62px;
}
.navbar {
  display: flex;
}
.navbar li {
  position: relative;
}
.navbar a {
  padding: 8px 30px;
  color: var(--bg-color);
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 650;
}
.navbar a:hover,
.navbar a.active {
  color: var(--bigbrew-color);
  transition: 0.3s all linear;
}
.navbar a.active::after,
.navbar a:hover::after {
  content: '';
  width: 28%;
  height: 2px;
  background: var(--bigbrew-color);
  position: absolute;
  bottom: -4px;
  left: 30px;
  border-radius: 0.2rem;
}
.header-icon {
  font-size: 25px;
  cursor: pointer;
  z-index: 10000;
  display: flex;
  column-gap: 1.8rem;
}
.header-icon .bx {
  color: var(--bg-color);
}
.header-icon .bx:hover {
  color: var(--bigbrew-color);
}
#menu-icon {
  color: var(--bg-color);
  font-size: 24px;
  z-index: 100001;
  cursor: pointer;
  display: none;
}

/* Search */
.search-box {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  background: var(--bg-color);
  width: 100%;
}
.search-box.active {
  top: 110%;
  box-shadow: var(--box-shadow);
  transition: 0.2s all linear;
}
.search-box input {
  padding: 20px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  color: var(--text-color);
}
.search-box input::placeholder {
  font-size: 1rem;
  font-weight: 500;
}

/*Product*/
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
}
.product-container .box {
  position: relative;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  background: #b86a19;
}
.product-container img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  object-position: center;
  padding: 20px;
  background: #f1f1f1;
  border-radius: 0.5rem;
}
.product-container .box h3 {
  font-size: 1rem;
  font-weight: 650;
  text-transform: uppercase;
  margin: 0.5rem 0 0.5rem;
}
.product-container .box .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product-container .box .content span {
  padding: 0 1rem;
  color: var(--bg-color);
  background: var(--text-color);
  border-radius: 4px;
  font-weight: 500;
}
.product-container .box .content a {
  padding: 0 1rem;
  color: var(--bg-color);
  border: 3px solid var(--text-color);
  border-radius: 4px;
  text-transform: uppercase;
  background: var(--main-color);
}
.product-container .box .content a:hover {
  background: var(--bg-color);
  color: var(--text-color);
  transition: 0.2s all linear;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1.5rem;
}
.footer-box h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-box p {
  font-size: 0.928rem;
  margin-bottom: 20px;
}
.social {
  display: flex;
  align-items: center;
  column-gap: 0.9rem;
  margin-top: 20px;
}
.social a .bx {
  font-size: 24px;
  color: var(--text-color);
  padding: 10px;
  background: var(--second-color);
  border-radius: 0.3rem;
}
.social a .bx:hover {
  background: var(--main-color);
  color: var(--bg-color);
}
.footer-box h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-box li a {
  color: var(--text-color);
}
.footer-box li a:hover {
  color: var(--main-color);
}
.contact {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.contact span {
  display: flex;
  align-items: center;
}
.contact i {
  font-size: 20px;
  margin-right: 1rem;
}
.copyright {
  padding: 20px;
  text-align: center;
  background: var(--second-color);
}

/* Product Page  */
#page-header {
  background-image: url(../img/pbg1.png);
  width: 100%;
  height: 30vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#page-header h2 {
  margin-top: 95px;
  font-size: 35px;
  color: var(--second-color);
  font-weight: 650;
}

/* Milktea */
.products1 {
  background: var(--text-color);
}
.heading1 {
  text-align: center;
}
.heading1 h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--main-color);
}
.heading1 h2::after {
  content: '';
  width: 130px;
  height: 5px;
  border-radius: 5px;
  background: var(--bg-color);
  position: absolute;
  top: 310px;
  left: 50%;
  transform: translateX(-50%);
}
.heading1 p {
  color: var(--main-color);
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 40px;
}
.product-container1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
}
.product-container1 .box {
  position: relative;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  background: #b86a19;
}
.product-container1 img {
  width: 100%;
  height: 275px;
  object-fit: contain;
  object-position: center;
  padding: 25px;
  background: #f1f1f1;
  border-radius: 0.5rem;
}
.product-container1 .box h3 {
  font-size: 1.1rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0.5rem 0 0.5rem;
  text-align: center;
}
.product-container1 .box .type {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product-container1 .box .type p {
  font-size: 0.7rem;
  font-weight: 600;
  margin-left: 0.3rem;
  text-align: center;
  color: #bebebe;
  text-transform: uppercase;
}
.product-container1 .box .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product-container1 .box .content p {
  padding: 0.1rem 0.9rem;
  color: var(--bg-color);
  text-transform: uppercase;
  border-radius: 4px;
  background: var(--text-color);
}
.product-container1 .box .contenta {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product-container1 .box .contenta a {
  padding: 0 0.6rem;
  color: var(--bg-color);
  border-radius: 4px;
  border: 3px solid var(--text-color);
  text-transform: uppercase;
  background: var(--main-color);
  margin-bottom: 15px;
}

.product-container1 .box .contenta a:hover {
  background: var(--bg-color);
  color: var(--text-color);
  transition: 0.2s all linear;
}

/* Fruit Tea */
.products2 {
  background: var(--second-color);
}
.heading2 {
  text-align: center;
}
.heading2 h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--text-color);
}
.heading2 h2::after {
  content: '';
  width: 150px;
  height: 5px;
  border-radius: 5px;
  background: var(--main-color);
  position: absolute;
  top: 1436px;
  left: 50%;
  transform: translateX(-50%);
}
.heading2 p {
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 40px;
}
.product-container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.9rem;
  margin-top: 2rem;
}
.product-container2 .box {
  position: relative;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  background: #b86a19;
}
.product-container2 img {
  width: 100%;
  height: 210px;
  object-fit: contain;
  object-position: center;
  padding: 20px;
  background: #f1f1f1;
  border-radius: 0.5rem;
}
.product-container2 .box h3 {
  font-size: 1.1rem;
  font-weight: 650;
  text-transform: uppercase;
  margin: 0.5rem 0 0.5rem;
  text-align: center;
}
.product-container2 .box .type {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.product-container2 .box .type p {
  font-size: 0.7rem;
  font-weight: 600;
  margin-left: 0.3rem;
  text-align: center;
  color: #bebebe;
  text-transform: uppercase;
}
.product-container2 .box .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product-container2 .box .content p {
  padding: 0.1rem 0.9rem;
  color: var(--bg-color);
  text-transform: uppercase;
  border-radius: 4px;
  background: var(--text-color);
}
.product-container2 .box .contentb {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product-container2 .box .contentb a {
  padding: 0 0.6rem;
  color: var(--bg-color);
  border: 3px solid var(--text-color);
  border-radius: 4px;
  text-transform: uppercase;
  background: var(--main-color);
  margin-bottom: 15px;
}
.product-container2 .box .contentb a:hover {
  background: var(--bg-color);
  color: var(--text-color);
  transition: 0.2s all linear;
}

/* Iced Coffee */
.products3 {
  background: var(--text-color);
}
.heading3 {
  text-align: center;
}
.heading3 h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--main-color);
}
.heading3 h2::after {
  content: '';
  width: 178px;
  height: 5px;
  border-radius: 5px;
  background: var(--bg-color);
  position: absolute;
  top: 2438px;
  left: 50%;
  transform: translateX(-50%);
}
.heading3 p {
  color: var(--main-color);
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 40px;
}
.product-container3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
}
.product-container3 .box {
  position: relative;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  background: #b86a19;
}
.product-container3 img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  object-position: center;
  padding: 20px;
  background: #f1f1f1;
  border-radius: 0.5rem;
}
.product-container3 .box h3 {
  font-size: 1.1rem;
  font-weight: 650;
  text-transform: uppercase;
  margin: 0.5rem 0 1rem;
}
.product-container3 .box .contentc p {
  font-size: 0.7rem;
  font-weight: 600;
  margin-left: 2.2rem;
  color: #bebebe;
  text-transform: uppercase;
}
.product-container3 .box .contentd p {
  font-size: 0.7rem;
  font-weight: 600;
  margin-left: 1.9rem;
  color: #bebebe;
  text-transform: uppercase;
}
.product-container3 .box .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 23px;
}
.product-container3 .box .content span {
  padding: 0 1rem;
  color: var(--bg-color);
  background: var(--text-color);
  border-radius: 4px;
  font-weight: 500;
}
.product-container3 .box .content a {
  padding: 0 1rem;
  color: var(--bg-color);
  border: 3px solid var(--text-color);
  border-radius: 4px;
  text-transform: uppercase;
  background: var(--main-color);
}
.product-container3 .box .content a:hover {
  background: var(--bg-color);
  color: var(--text-color);
  transition: 0.2s all linear;
}

/* Praf */
.products4 {
  background: var(--second-color);
}
.heading4 {
  text-align: center;
}
.heading4 h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--text-color);
}
.heading4 h2::after {
  content: '';
  width: 150px;
  height: 5px;
  border-radius: 5px;
  background: var(--main-color);
  position: absolute;
  top: 3605px;
  left: 50%;
  transform: translateX(-50%);
}
.heading4 p {
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 40px;
}
.product-container4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
}
.product-container4 .box {
  position: relative;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  background: #b86a19;
}
.product-container4 img {
  width: 100%;
  height: 210px;
  object-fit: contain;
  object-position: center;
  padding: 20px;
  background: #f1f1f1;
  border-radius: 0.5rem;
}
.product-container4 .box h3 {
  color: #bebebe;
  font-size: 0.7rem;
  font-weight: 598;
  text-transform: uppercase;
  margin: 0.5rem 0 0;
}
.product-container4 .box h4 {
  font-size: 1.2rem;
  font-weight: 650;
  text-transform: uppercase;
  margin: 0 0 0.5rem;
}
.product-container4 .box .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product-container4 .box .content span {
  padding: 0 0.838rem;
  color: var(--bg-color);
  background: var(--text-color);
  border-radius: 4px;
  font-weight: 500;
}
.product-container4 .box .content a {
  padding: 0 0.789rem;
  color: var(--bg-color);
  border: 3px solid var(--text-color);
  border-radius: 4px;
  text-transform: uppercase;
  background: var(--main-color);
}
.product-container4 .box .content a:hover {
  background: var(--bg-color);
  color: var(--text-color);
  transition: 0.2s all linear;
}

/* Hotbrew */
.products5 {
  background: var(--text-color);
}
.heading5 {
  text-align: center;
}
.heading5 h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--main-color);
}
.heading5 h2::after {
  content: '';
  width: 148px;
  height: 5px;
  border-radius: 5px;
  background: var(--bg-color);
  position: absolute;
  top: 4497px;
  left: 50%;
  transform: translateX(-50%);
}
.heading5 p {
  color: var(--main-color);
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 40px;
}
.product-container5 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
}
.product-container5 .box {
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  background: #b86a19;
}
.product-container5 img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  object-position: center;
  padding: 18px;
  background: #f1f1f1;
  border-radius: 0.5rem;
}
.product-container5 .box h3 {
  font-size: 1rem;
  font-weight: 650;
  text-transform: uppercase;
  margin: 0.5rem 0 0.5rem;
  font-weight: 900px;
  text-align: center;
}
.product-container5 .box .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product-container5 .box .content span {
  padding: 0 0.65rem;
  color: var(--bg-color);
  background: var(--text-color);
  border-radius: 4px;
  font-weight: 500;
}
.product-container5 .box .content a {
  padding: 0 0.59rem;
  color: var(--bg-color);
  border: 3px solid var(--text-color);
  border-radius: 4px;
  text-transform: uppercase;
  background: var(--main-color);
}
.product-container5 .box .content a:hover {
  background: var(--bg-color);
  color: var(--text-color);
  transition: 0.2s all linear;
}
/* Add-ons */
.addons {
  background: #bebebe;
}
.heading6 {
  text-align: center;
}
.heading6 h2 {
  font-size: 2.3rem;
  text-transform: uppercase;
}
.product-container6 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
}
.product-container6 .box {
  position: relative;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  background: var(--text-color);
}
.product-container6 img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
  padding: 20px;
  background: #f1f1f1;
  border-radius: 0.5rem;
}
.product-container6 .box h3 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 650;
  text-transform: uppercase;
  margin: 0.5rem 0 0.5rem;
  color: var(--bg-color);
}
.product-container6 .box .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-container6 .box .content a {
  padding: 0.5rem 1.5rem;
  color: var(--bg-color);
  border: 3px solid var(--bg-color);
  border-radius: 10px;
  text-transform: uppercase;
  background: var(--main-color);
}
.product-container6 .box .content a:hover {
  background: var(--bg-color);
  color: var(--text-color);
  transition: 0.2s all linear;
}

/* Footer */
.footer1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1.5rem;
}
.footer-box h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-box1 p {
  font-size: 0.928rem;
  margin-bottom: 20px;
}
.social1 {
  display: flex;
  align-items: center;
  column-gap: 0.9rem;
  margin-top: 20px;
}
.social1 a .bx {
  font-size: 24px;
  color: var(--text-color);
  padding: 10px;
  background: var(--second-color);
  border-radius: 0.3rem;
}
.social1 a .bx:hover {
  background: var(--main-color);
  color: var(--bg-color);
}
.footer-box1 h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-box1 li a {
  color: var(--text-color);
}
.footer-box1 li a:hover {
  color: var(--main-color);
}
.contact1 {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.contact1 span {
  display: flex;
  align-items: center;
}
.contact1 i {
  font-size: 20px;
  margin-right: 1rem;
}

/*@media (max-width: 1058px){
    header{
        padding: 16px 60px;
    }
    section{
        padding: 50px 60px;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
}
@media (max-width: 991px){
    header{
        padding: 16px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .home-text h1{
        font-size: 2rem;
    }
}
@media (max-width: 768px){
    header{
        padding: 12px 4%;
    }
    #menu-icon{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--second-color);
        row-gap: 1.4rem;
        padding: 20px;
        transition: 0.3s;
        text-align: center;
    }
    .navbar a{
        color: var(--text-color);
    }
    .navbar a:hover{
        color: var(--bg-color);
    }
    .navbar.active{
        top: 100%;
    }
    .about{
        align-items: center;
    }
}
@media (max-width: 360px){
    header{
        padding: 11px 4%;
    }
    .logo img{
        width: 45px;
    }
    .home-text{
        padding-top: 15px;
    }
    .home-text h1{
        font-size: 1.4rem;
    }
    .home-text p{
        font-size: 0.8rem;
        font-weight: 300;
    }
    .about-img{
        order: 2;
    }
    .about-text{
        text-align: center;
    }
    .about-text h2{
        font-size: 1.2rem;
    }
    .heading h2{
        font-size: 1.2rem;
    }
} */

.prices {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.prices .price .content {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.prices .price .content a {
  color: #fff;
  padding: 0.1rem 0.6rem;
  background-color: #bc9667;
  border: 3px solid #1b1b1b;
  border-radius: 0.3rem;
}

.type,
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .type,
  .content {
    flex-direction: column;
    align-items: flex-start;
  }
}
